{% trans_default_domain "messages" %}

{% block navList %}
    {% set route = app.request.attributes.get('_route') %}

    {# PUBLIC #}
    {% if route ends with 'root' or
          route ends with 'contact' or
          route ends with 'public'
    %}
        <li {% if route ends with 'root' or route ends with 'contact' %}class="active"{% endif %}>
            <a href="{{ path('barra_recipe_contact') }}">{{ ('admin.title.contact')|trans }}</a>
        </li>
        <li {% if route ends with 'public' %}class="active"{% endif %}>
            <a href="{{ path('barra_recipe_recipes_public') }}">{{ ('admin.title.recipes')|trans }}</a>
        </li>

    {# ADMIN #}
    {% else %}
        <li {% if route ends with 'dashboard' %}class="active"{% endif %}>
            <a href="{{ path('barra_recipe_dashboard') }}">{{ ('admin.title.dashboard')|trans }}</a>
        </li>
        <li {% if route ends with 'admin' %}class="active"{% endif %}>
            <a href="{{ path('barra_recipe_recipes_admin') }}">{{ ('admin.title.recipes')|trans }}</a>
        </li>
        <li {% if route ends with 'measurements' %}class="active"{% endif %}>
            <a href="{{ path('barra_recipe_measurements') }}">{{ ('admin.title.measurements')|trans }}</a>
        </li>
        <li class="dropdown{% if route ends with 'products' or route ends with 'manufacturers' %} active{% endif %}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                {{ ('admin.title.products')|trans }} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li {% if route ends with 'products' %}class="active"{% endif %}>
                  <a href="{{ path('barra_recipe_products') }}">{{ ('admin.title.products')|trans }}</a>
                </li>
                <li {% if route ends with 'manufacturers' %}class="active"{% endif %}>
                    <a href="{{ path('barra_recipe_manufacturers') }}">{{ ('admin.title.manufacturers')|trans }}</a>
                </li>
            </ul>
        </li>
    {% endif %}
{% endblock %}