{% extends 'BarraBackBundle::layout.html.twig' %}
{% form_theme form 'BarraBackBundle:Form:tableRow.html.twig' %}
{% block title %}{{ 'back.title.measurements'|trans() }}{% endblock %}

{% block section %}
    <section class="container mobileTables" ng-controller="MeasurementCtrl">
        {{ include('BarraBackBundle:parts:formValidation.html.twig') }}

        {{ form_start(form) }}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{{ 'back.measurement.name'|trans() }}</th>
                        <th>{{ 'back.measurement.gr'|trans() }}</th>
                        <th>{{ 'back.action.delete'|trans() }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="measurement in measurements | orderBy:'name'">
                        <td data-mobile-title={{ 'back.measurement.name'|trans() }}>[[measurement.name]]</td>
                        <td data-mobile-title={{ 'back.measurement.gr'|trans() }}>[[measurement.gr]]</td>
                        <td data-mobile-title={{ 'back.action.delete'|trans() }}>
                            <span class="glyphicon glyphicon-trash" ng-click="deleteEntry(measurement)"></span>
                        </td>
                    </tr>
                    <tr class="formInRow">
                        {{ form_row(form.name) }}
                        {{ form_row(form.gr) }}
                        {{ form_widget(form.submit, {'label': 'back.action.new', 'attr': {'class': 'btn'} }) }}
                    </tr>
                </tbody>
            </table>
        {{ form_end(form) }}

        {{ include('BarraBackBundle:parts:pagination.html.twig', { 'route': 'barra_back_measurements'})}}
    </section>
{% endblock %}