{% extends 'BarraBackBundle::layout.html.twig' %}
{% form_theme form 'BarraBackBundle:Form:tableRow.html.twig' %}
{% trans_default_domain "messages" %}

{% block title %} vPit Measurements {% endblock %}

{% block section %}
    <section id="no-more-tables" class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{ 'back.word.type'|trans() }}</th>
                    <th>{{ 'back.word.gr'|trans() }}</th>
                    <th>{{ 'back.word.delete'|trans() }}</th>
                </tr>
            </thead>
            <tbody>
                {# TODO set Contextual classes after insert/update/del #}
                {% for measurement in measurements %}
                    <tr>
                        <td data-title={{ 'back.word.type'|trans() }}>{{ measurement.type }}</td>
                        <td data-title={{ 'back.word.gr'|trans() }}>{{ measurement.gr }}</td>
                        <td data-title={{ 'back.word.delete'|trans() }}>
                            <a href="{{ path('barra_back_measurement_delete', {'id': measurement.id}) }}">
                                <span class="glyphicon glyphicon-minus"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    {{ form_start(form) }}

                        {{ form_row(form.type, {'attr': {'placeholder': 'back.word.type'|trans()} }) }}
                        {{ form_row(form.gr) }}
                        {{ form_widget(form.submit, {'label': 'back.action.new', 'attr': {'class': 'btn btn-default'} }) }}
                    {{ form_end(form) }}
                </tr>
            </tbody>
        </table>
    </section>
{% endblock %}