{% extends '::base.html.twig' %}
{% block title %}{{ 'barra.manufacturers.title'|trans() }}{% endblock %}

{% block section %}
    <section class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <div class="list-group">
                   <div class="list-group-item" {#ng-repeat="manufacturer in manufacturers | orderBy:'name'"#}>
                       {#[[manufacturer.name]]#}
                   </div>
                </div>
            </div>
        </div>

        <div class="row">
            {{ form_start(form) }}
                <div class="col-xs-12 col-sm-4 col-sm-offset-3">
                    {{ form_row(form.name) }}
                </div>
                <div class="col-xs-12 col-sm-2">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn-block'} }) }}
                </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
