{% extends 'BarraFrontBundle::layout.html.twig' %}
{% trans_default_domain "messages" %}
{% block title %}{{ 'front.title.references'|trans() }}{% endblock %}


{% block section %}
    <section class="container">
        {% for reference in references %}
            <div class="referenceWrapper">
                <span class="agency">
                    {{ reference.finished|date('Y') }} / {{ reference.url }}
                </span>

                <div class="techniques">
                    <ul style="list-style: none">
                        {% for technique in reference.techniques %}
                            <li>{{ technique.name }}</li>
                        {% endfor %}
                    </ul>
                </div>

                <span class="description">
                    <p>{{ reference.description }}</p>
                    On behalf of <a href="http://{{ reference.agency.url }}">{{ reference.agency.name }}</a>
                </span>

            </div>
        {% endfor %}
        {{ include('BarraFrontBundle::pagination.html.twig', { 'route': 'barra_front_references'})}}
    </section>
{% endblock %}