{% extends 'BarraFrontBundle::layout.html.twig' %}
{% trans_default_domain "messages" %}
{% block title %}{{ reference.website }}{% endblock %}

{% block section %}
    <section class="container">
        <ul>
            <li>{{ 'front.reference.website'|trans() }}: {{ reference.website }}</li>
            <li>{{ 'front.reference.company'|trans() }}: {{ reference.company }}</li>
            <li>{{ 'front.reference.description'|trans() }}: {{ reference.description }}</li>
            <li>{{ 'front.reference.started'|trans() }}: {{ reference.started|date('m.Y') }}</li>
            <li>{{ 'front.reference.finished'|trans() }}: {{ reference.finished|date('m.Y') }}</li>
        </ul>
    </section>
{% endblock %}