{% extends 'BarraFrontBundle::layout.html.twig' %}
{% trans_default_domain "messages" %}
{% block title %}{{ 'front.title.references'|trans() }}{% endblock %}


{% block section %}
    <section class="container">
        <h1>References</h1>
        <ul>
            {% for reference in references %}
                <li>
                    {{ 'front.reference.word.company'|trans() }}: {{ reference.company }}
                    {{ 'front.reference.word.description'|trans() }}: {{ reference.description }}
                    {{ 'front.reference.word.started'|trans() }}: {{ reference.started|date('m.Y') }}
                    {{ 'front.reference.word.finished'|trans() }}: {{ reference.finished|date('m.Y') }}
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}