{% extends 'BarraFrontBundle::layout.html.twig' %}
{% trans_default_domain "messages" %}
{% block title %}{{ 'front.title.references'|trans() }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@BarraFrontBundle/Resources/public/js/references.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block section %}
    <section class="container" id="referencePage">
        {% for row in references|batch(2) %}
            <div class="row">
                {% for reference in row %}
                    <div class="col-xs-12 col-md-6">
                        <div class="reference" data-referenceid="{{ reference.id }}" style="background-image: url('{{ asset('uploads/documents/'~reference.filename) }}')">
                            <div class="referenceHeader">
                                <div class="referenceTitle">
                                    {{ reference.url|split('.')[0] }}
                                </div>
                                <div class="referenceStamp">
                                    <a href="http://{{ reference.agency.url }}" target="_blank">{{ reference.agency.name }}</a> | {{ reference.finished|date('Y') }}
                                </div>
                            </div>

                            <div class="referenceFooter">
                                {% for technique in reference.techniques %}
                                    <span title="{{ technique.description }}">{{ technique.name }}{% if not loop.last %}, {% endif %}</span>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>
        {% endfor %}

        <div class="overlay hidden">
            {{ include('BarraFrontBundle::carousel.html.twig') }}
        </div>

        {{ include('BarraFrontBundle::pagination.html.twig', { 'route': 'barra_front_references'})}}
    </section>
{% endblock %}