{% extends 'BarraFrontBundle::layout.html.twig' %}
{% trans_default_domain "messages" %}
{% block title %}{{ 'front.title.references'|trans() }}{% endblock %}


{% block section %}
    <section class="container">
        {% for reference in references %}
            <div class="referenceWrapper">
                <span class="agency">
                    {{ reference.finished|date('Y') }} / <a href="http://{{ reference.website }}">{{ reference.company }}</a>
                    {# todo website != website of company && company == agency! #}
                </span>

                <div class="techniques">
                    here are my used techniques
                </div>

                <span class="description">
                    {{ reference.description }}
                </span>

            </div>
        {% endfor %}
    </section>
{% endblock %}