{% extends 'BarraFrontBundle::layout.html.twig' %}
{% trans_default_domain "messages" %}
{% block title %}{{ 'front.title.references'|trans() }}{% endblock %}


{% block section %}
    <section class="container">
        <ul>
            {% for reference in references %}
                <li>
                    {{ 'front.reference.company'|trans() }}: {{ reference.company }}
                    <a href="{{ path('barra_front_reference', {'website': reference.website}) }}">{{ reference.website }}</a>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}