<!DOCTYPE html>
<html ng-app="angularApp">
    <head>
        {% block head %}
            <title>{% block title %}Kujawa{% endblock %}</title>

            {% block metaData %}
                <meta http-equiv="X-UA-Compatible"  content="IE=edge">
                <meta http-equiv="content-type"     content="text/html; charset=utf-8">
                <meta name="viewport"               content="width=device-width, initial-scale=1">
                <meta name="language"               content="{{ app.request.locale }}">
                <META name="author"                 content="Paul Kujawa">
                <META name="copyright"              content="Paul Kujawa">
                <META name="publisher"              content="Paul Kujawa">
            {% endblock %}

            {# TODO notices on error page overrites from login.css aganst app.css #}
            {% block stylesheets %}
                {% stylesheets filter='cssrewrite'
                    'vendor/jquery-ui/themes/smoothness/jquery-ui.min.css'
                    'vendor/angular-chart.js/dist/angular-chart.css'
                    'vendor/angular-ui-tree/dist/angular-ui-tree.min.css'
                    'css/admin.css'
                    'css/app.css'
                    'css/public.css'
                %}
                    <link rel="stylesheet" href="{{ asset_url }}">
                {% endstylesheets %}
            {% endblock %}

            {# NOTICE doubt angular-chart and angular-ui-tree are necessary #}
            {% block javascripts %}
                {% javascripts
                    'vendor/jquery/dist/jquery.min.js'
                    'vendor/jquery-ui/jquery-ui.min.js'
                    'vendor/jquery-ui-touch-punch-improved/jquery.ui.touch-punch-improved.js'
                    'vendor/lodash/dist/lodash.min.js'
                    'vendor/chartjs/Chart.js'
                    'vendor/bootstrap-sass-official/assets/javascripts/bootstrap.min.js'
                    'vendor/angular/angular.min.js'
                    'vendor/restangular/dist/restangular.min.js'
                    'vendor/angular-chart.js/dist/angular-chart.js'
                    'vendor/angular-ui-tree/dist/angular-ui-tree.js'
                    'bundles/fosjsrouting/js/router.js'
                    'js/admin.js'
                %}
                    <script type="text/javascript" src="{{ asset_url }}"></script>
                {% endjavascripts %}

                {# include in assetic would require a manual dump every time a route changes #}
                <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            {% endblock %}
        {% endblock %}
    </head>

    <body>
        {% block nav %}
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target="#navbar-collapse"
                        >
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        {% block languageBtn %}
                            {% if app.request.locale == "en" %}
                                <a class="navbar-brand" id="translationAnchor"
                                   href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({_locale: 'de'})) }}">DE</a>
                            {% else %}
                                <a class="navbar-brand" id="translationAnchor"
                                   href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({_locale: 'en'})) }}">EN</a>
                            {% endif %}
                        {% endblock %}
                    </div>

                    <!-- all elements for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-collapse">
                        <ul class="nav navbar-nav">
                            {% block navList %}
                                {{ include(':parts:nav.html.twig') }}
                            {% endblock %}
                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock %}

        {% block aside %}{% endblock %}
        {% block section %}{% endblock %}

        {% block footer %}
            <footer>
                <span>Copyright © {{ "now"|date("Y") }} Paul Kujawa</span>
            </footer>
        {% endblock %}
    </body>
</html>