<!DOCTYPE html>
<html ng-app="angularApp">
    <head>
        {% block head %}
            <title>{% block title %}Kujawa{% endblock %}</title>
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            <meta http-equiv="X-UA-Compatible"  content="IE=edge">
            <meta http-equiv="content-type"     content="text/html; charset=utf-8">
            <meta name="viewport"               content="width=device-width, initial-scale=1">
            <meta name="language"               content="{{ app.request.locale }}">
            <META name="author"                 content="Paul Kujawa">
            <META name="copyright"              content="Paul Kujawa">
            <META name="publisher"              content="Paul Kujawa">
            {# <base href="{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}"> todo pk conflict with 404 page #}
            {% block metaData %}{% endblock %}
            {% block stylesheets %}{% endblock %}
            {% block javascripts %}{% endblock %}
        {% endblock %}
    </head>

    <body>
        {% block nav %}
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        {% block languageBtn %}
                            {% if app.request.locale == "en" %}
                                <a class="navbar-brand" id="translationAnchor" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({_locale: 'de'})) }}">DE</a>
                            {% else %}
                                <a class="navbar-brand" id="translationAnchor" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({_locale: 'en'})) }}">EN</a>
                            {% endif %}
                        {% endblock %}
                    </div>


                    <!-- all elements for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            {% block navList %}{% endblock %}
                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock %}

        {% block aside %}{% endblock %}
        {% block section %}{% endblock %}

        {% block footer %}
            <footer>
                <span>Copyright © {{ "now"|date("Y") }} Paul Kujawa</span>
            </footer>
        {% endblock %}
    </body>
</html>