<!DOCTYPE html>
{% set locale = app.request.locale %}
<html lang="{{ locale }}">
    <head>
        {% block head %}
            <title>{% block title %}Kujawa{% endblock %}</title>
            {% block metaData %}
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta http-equiv="content-type" content="text/html; charset=utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta name="language" content="{{ locale }}">
                <meta name="author" content="Paul Kujawa">
                <meta name="copyright" content="Paul Kujawa">
                <meta name="publisher" content="Paul Kujawa">
                <meta name="description" content="vegan recipes with high calories">
                <meta name="keywords" content="vegan, vegetarian, recipe, calories">
                <base href="{{ path('app_root_i18n') }}">
            {% endblock %}
            <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% endblock %}
    </head>

    <body>
        <spa></spa>
        {# TODO try accessing <base href> instead #}
        <script>
            window.baInject = {
                baseUrl: {{ app.request.baseUrl|json_encode|raw }},
                requestLocale: {{ locale|json_encode|raw }}
            };
        </script>
        <script src="{{ asset('js/vendor.js') }}"></script>
        <script src="{{ asset('js/translations.' ~ locale ~ '.js') }}"></script>
        <script src="{{ asset('js/build.js') }}"></script>
    </body>
</html>
