<!DOCTYPE html>
{% set locale = app.request.locale %}
<html lang="{{ locale }}">
    <head>
        <link rel="preload" as="script" href="{{ asset('core-js.js') }}">
        <link rel="preload" as="script" href="{{ asset('zone-js.js') }}">
        <link rel="preload" as="script" href="{{ asset('rxjs.js') }}">
        <link rel="preload" as="script" href="{{ asset('angular.js') }}">
        <link rel="preload" as="script" href="{{ asset('angular-material.js') }}">
        <link rel="preload" as="script" href="{{ asset('main.js') }}">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <base href="{{ path('app_root_i18n') }}">
        <title>Kujawa</title>

        {% include '::fonts.html.twig' %}
        <link rel="stylesheet" href="{{ asset('styles.css') }}">
    </head>

    <body class="mat-app-background mat-typography">
        <app-spa></app-spa>
        <script>
            window.appInject = {
                baseUrl: {{ path('app_root_i18n')|json_encode|raw }},
                requestLocale: {{ locale|json_encode|raw }},
                authenticated: {{ app.user ? 'true' : 'false' }}
            };
        </script>
        <script src="{{ asset('core-js.js') }}"></script>
        <script src="{{ asset('zone-js.js') }}"></script>
        <script src="{{ asset('rxjs.js') }}"></script>
        <script src="{{ asset('angular.js') }}"></script>
        <script src="{{ asset('angular-material.js') }}"></script>
        <script src="{{ asset('main.js') }}"></script>
    </body>
</html>
