{% extends '::base.html.twig' %}
{% trans_default_domain "messages" %}
{% block title %}{{ recipe.name }} | Kujawa{% endblock %}
{% block metaData %}
    {{ parent() }}
    <meta name="description" content="Vegan {{ recipe.name }}"/>
    <meta name="keywords" content="{{ 'recipe.meta.recipeKeywords'|trans({'%recipe%':recipe.name}) }}" />
{% endblock %}

{% block javascripts %}
    {% javascripts 'js/nutricionChart.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block section %}
    <section class="container" id="recipePage">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                {% if recipe.Photos is empty %}
                    <img class="img-circle center-block img-responsive" src="http://placehold.it/300x300" alt="{{ recipe.name }}">
                {% else %}
                    <img class="img-circle center-block img-responsive"
                         src="{{ asset('images/uploads/'~(recipe.photos|first).filename) }}" alt="{{ recipe.name }}">
                {% endif %}
            </div>

            <div id="macros" class="col-xs-12 col-md-6">
                <canvas class="center-block" width="301px" height="301px"></canvas>
                <span class="badge" title="Kcal">{{ macros.kcal }}</span>
            </div>
        </div>

        <h1 class="text-center">{{ recipe.name }}</h1>
        <ul id="productList" class="list-unstyled text-center"
            data-carbs="{{ macros.carbs }}" data-protein="{{ macros.protein }}" data-fat="{{ macros.fat }}">
            {% for ingredient in ingredients %}
                {% if ingredient.amount is null %}
                    <li>{{ ingredient.product.name }}</li>
                {% else %}
                    <li>{{ ingredient.amount }}{{ ingredient.measurement.name }} {{ ingredient.product.name }}</li>
                {% endif %}
            {% endfor %}
        </ul>

        <ol id="cookingList" class="text-center">
            {% for cooking in cookings %}
                <li>{{ cooking.description }}</li>
            {% endfor %}
        </ol>
    </section>
{% endblock %}