{% extends '::base.html.twig' %}
{% trans_default_domain "messages" %}
{% block title %}{{ 'recipe.title.recipes'|trans() }} | Kujawa{% endblock %}
{% block metaData %}
    {{ parent() }}
    <meta name="description" content="Vegan {{ 'recipe.title.recipes'|trans() }}" />
    <meta name="keywords" content="{{ 'recipe.meta.recipeKeywords'|trans() }}" />
{% endblock %}


{% block section %}
    <section class="container" id="recipesPage">
        <div class="row">
            {% for recipe in recipes %}
                <div class="col-xs-6 col-md-4 col-lg-3">
                    <a class="thumbnail"
                       href="{{ path('barra_recipe_recipe_public', {'name': recipe.name|replace({' ': '_'})}) }}">
                        {% if recipe.Photos is empty %}
                            <img src="http://placehold.it/400x300" alt="{{ recipe.name }}">
                        {% else %}
                            <img src="{{ asset('images/uploads/'~(recipe.Photos|first).filename) }}"
                                 alt="{{ recipe.name }}">
                        {% endif %}
                        <div class="caption">{{ recipe.name }}</div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
