{% extends '::base.html.twig' %}
{% block title %}{{ 'barra.recipes.title'|trans() }} | Kujawa{% endblock %}

{% block section %}
    <section class="container" id="recipesPage">
        <div class="row">
            {% for recipe in recipes %}
                <div class="col-xs-6 col-md-4 col-lg-3">
                    <a class="thumbnail"
                       href="{{ path('app_recipe_public', {'name': recipe.name|replace({' ': '_'})}) }}">
                        {% if recipe.Photos is empty %}
                            <img src="http://placehold.it/400x300" alt="{{ recipe.name }}">
                        {% else %}
                            <img src="{{ asset('images/uploads/'~(recipe.Photos|first).filename) }}"
                                 alt="{{ recipe.name }}">
                        {% endif %}
                        <div class="caption">{{ recipe.name }}</div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
