{% extends 'BarraFrontBundle::layout.html.twig' %}
{% form_theme form 'BarraFrontBundle:Form:contactRow.html.twig' %}

{% trans_default_domain "messages" %}
{% block title %}{{ 'front.title.contact'|trans() }}{% endblock %}

{% block section %}
    <section class="container" id="contactPage">

        <div id="aboutMe" class="clearfix">
            <div id="contactPic">
                <img class="img-circle" src="/vpit/web/uploads/documents/i.jpg" alt="Paul Kujawa">
            </div>

            <div id="contactDescription">
                <p class="fontL">
                    Ich trage den Namen Paul Kujawa, studiere internationale Medieninformatik
                    und bin gelernter Informatikkaufmann. Meine Freizeit fokussiert Fitness.
                </p>
            </div>
        </div>

        {{ form_start(form, {'attr': {'id': "contactForm"}} ) }}
            <div class="clearfix">
                <div id="contactFormLeft">
                    {{ form_errors(form) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.email) }}
                </div>
                {{ form_row(form.message) }}
            </div>
            {{ form_widget(form.submit, {'label': 'back.front.new', 'attr': {'class': 'btn'} }) }}
        {{ form_end(form) }}
    </section>
{% endblock %}