{% extends '::base.html.twig' %}
{% form_theme form 'BarraRecipeBundle:Form:contactRow.html.twig' %}

{% block title %}{{ 'recipe.title.contact'|trans() }} | Kujawa{% endblock %}
{% block metaData %}
    {{ parent() }}
    <meta name="description" content="{{ 'recipe.meta.contactDescription'|trans() }}" />
    <meta name="keywords" content="{{ 'recipe.meta.contactKeywords'|trans() }}" />
{% endblock %}

{% block section %}
    <section class="container" id="contactPage">
        <div class="row flex flex-align-v text-center">
            <div class="col-xs-12 col-sm-5">
                <img class="img-circle center-block img-responsive"
                     src="{{ asset('images/kujawa.jpg') }}" alt="Paul Kujawa">
            </div>
            <div class="col-xs-12 col-sm-7">
                <p>{{ 'recipe.contact.description'|trans() }}</p>
            </div>
        </div>

        <hr>

        {% for flashMessage in app.session.flashbag.get('emailSent') %}
            <div class="row">
                <div class="col-xs-12 col-sm-12 alert alert-success" role="alert">{{ flashMessage }}</div>
            </div>
        {% endfor %}

        {{ form_start(form) }}
            <div class="row"> {# class=clearfix #}
                <div class="col-xs-12 col-sm-5"> {# id="contactFormLeft" #}
                    <div class="form-group">
                        {{ form_row(form.name) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.email) }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-7">
                    <div class="form-group">
                        {{ form_row(form.message) }}
                    </div>
                    <div class="form-group text-right">
                        {{ form_widget(form.submit, {'label': 'recipe.action.send', 'attr': {'class': 'btn btn-primary'} }) }}
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </section>
{% endblock %}