{% extends '::base.html.twig' %}
{% form_theme form 'BarraRecipeBundle:Form:contactRow.html.twig' %}

{% trans_default_domain "messages" %}
{% block title %}{{ 'recipe.title.contact'|trans() }} | Kujawa{% endblock %}
{% block metaData %}
    {{ parent() }}
    <meta name="description" content="{{ 'recipe.meta.contactDescription'|trans() }}" />
    <meta name="keywords" content="{{ 'recipe.meta.contactKeywords'|trans() }}" />
{% endblock %}



{% block section %}
    <section class="container" id="contactPage">
        <div id="aboutMe" class="clearfix">
            <div id="contactPic">
                <img class="img-circle" src="{{ asset('images/kujawa.jpg') }}" alt="Paul Kujawa">
            </div>

            <div id="contactDescription">
                <p class="fontL">{{ 'recipe.contact.description'|trans() }}</p>
            </div>
        </div>

        {{ form_start(form, {'attr': {'id': "contactForm"}} ) }}
            {% for flashMessage in app.session.flashbag.get('emailSent') %}
                <div class="alert alert-success" role="alert">
                    {{ flashMessage }}
                </div>
            {% endfor %}

            <div class="clearfix">
                <div id="contactFormLeft">
                    {{ form_errors(form) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.email) }}
                </div>
                {{ form_row(form.message) }}
            </div>
            {{ form_widget(form.submit, {'label': 'recipe.action.send', 'attr': {'class': 'btn'} }) }}
        {{ form_end(form) }}
    </section>
{% endblock %}