{% extends '::base.html.twig' %}
{% block title %}{{ 'barra.dashboard.title'|trans() }}{% endblock %}

{% block section %}
    <section class="container">
        <a href="{{ path('barra_recipe_contact') }}">
            <span class="glyphicon glyphicon-home"></span>
            {{ 'barra.contact.title'|trans() }}
        </a>

        <br>

        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        <a href="{{ path('fos_user_security_logout') }}">
            <span class="glyphicon glyphicon-log-out"></span>
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
    </section>
{% endblock %}
