{% extends 'BarraFrontBundle::layout.html.twig' %}
{% trans_default_domain "messages" %}
{% block title %}{{ 'front.title.recipes'|trans() }}{% endblock %}

{% block section %}
    <section class="container" id="recipesPage">
        {% for row in recipes|batch(3) %}
            <div class="row">
                {% for recipe in row %}
                    <div class="col-xs-12 col-sm-4">
                        <div class="thumbnail">
                            <a href="{{ path('barra_front_recipe', {'name': recipe.name|replace({' ': '_'})}) }}">
                                {% if recipe.RecipePictures is not empty %}
                                    <img src="{{ asset('uploads/documents/'~(recipe.RecipePictures|first).filename) }}" alt="{{ recipe.name }}">
                                {% endif %}
                                <div class="caption">{{ recipe.name }}</div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

        {{ include('BarraFrontBundle::pagination.html.twig', { 'route': 'barra_front_recipes'})}}
    </section>
{% endblock %}