{% extends 'BarraFrontBundle::layout.html.twig' %}
{% trans_default_domain "messages" %}
{% block title %}{{ recipe.name }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@BarraFrontBundle/Resources/public/js/makroChart.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}


{% block section %}




    <section class="container">
        {% verbatim %}
            <input type="text" ng-model="search">
            <p ng-show="search">results for: {{ search }}</p>

            <table ng-controller="RecipesCtrl" class="table">
                <tr ng-repeat="entry in recipes|filter:search">
                    <td><a href class="btn btn-default btn-sm" ng-click="myService.addArticle(entry);">Hinzufügen</a></td>
                    <td>{{ entry.id }}</td>
                    <td>{{ entry.name }}</td>
                </tr>

                <tr>
                    <td>single GET</td>
                    <td>{{ recipe.id }}</td>
                    <td>{{ recipe.name }}</td>
                </tr>
            </table>

            <div ng-controller="CartCtrl">
                <div ng-hide="myService.getItems().length" class="alert alert-warning">Ihr Warenkorb ist noch leer.</div>
                <table ng-show="myService.getItems().length" class="table">
                    <tr ng-repeat="item in myService.getItems() track by $index"> <!-- index as unique column to enable duplicates -->
                        <td>{{item.id}}</td>
                        <td>{{item.name }}</td>
                    </tr>
                    <tr>
                        <td>{{myService.getItems().length}} Artikel</td>
                        <td>{{myService.sum()|currency}}</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        {% endverbatim %}






        <div id="recipeCircles">
            <div id="recipePic">
                {% if recipe.RecipePictures is not empty %}
                    <img class="img-circle" src="{{ asset('uploads/documents/'~(recipe.RecipePictures|first).filename) }}" alt="{{ recipe.name }}">
                {% endif %}
            </div>

            <div id="recipeChartWrapper">
                <canvas id="macroChart" width="301px" height="301px"></canvas>
                <span id="kcalSpan" class="badge" title="Kcal">{{ macros.kcal }}</span>
            </div>
        </div>

        <h1 class="centeredTitle">{{ recipe.name }}</h1>
        <ul id="ingredientList" class="list-unstyled fontL" data-carbs={{ macros.carbs }} data-protein={{ macros.protein }} data-fat={{ macros.fat }}>
            {% for recipeIngredient in recipeIngredients %}
                {% if recipeIngredient.amount is null %}
                    <li>{{ recipeIngredient.ingredient.name }}</li>
                {% else %}
                    <li>{{ recipeIngredient.amount }}{{ recipeIngredient.measurement.type }} {{ recipeIngredient.ingredient.name }}</li>
                {% endif %}
            {% endfor %}
        </ul>

        <ol id="cookingStepList" class="fontM">
            {% for cookingStep in cookingSteps %}
                <li>{{ cookingStep.description }}</li>
            {% endfor %}
        </ol>
    </section>
{% endblock %}