{% extends "form_div_layout.html.twig" %}

{# add angular's ng-submit && removed action="{{ action }}" #}
{%- block form_start -%}
    {% set method = method|upper %}
    {%- if method in ["GET", "POST"] -%}
        {% set form_method = method %}
    {%- else -%}
        {% set form_method = "POST" %}
    {%- endif -%}
    <form ng-submit="submit()" name="{{ name }}" method="{{ form_method|lower }}" {% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {%- if form_method != method -%}
        <input type="hidden" name="_method" value="{{ method }}" />
    {%- endif -%}
{%- endblock form_start -%}


{% block form_row %}{% spaceless %}
    {# angular class and methods for form validation messages #}
    <td ng-class="{'danger has-error': formFieldErrors && highlightInvalidFormFields('{{name}}')}">
        {{ form_label(form, null, {'label_attr': {'class': 'sr-only'}}) }}
        {{ form_errors(form) }}

        {# enable different formnames for angular's ng-model and ng-init #}
        {% if angularFormName is not defined %}
            {% set angularFormName = "formData" %}
        {% endif %}

        {# class 'hidden' for checkboxes #}
        {% if form.vars.block_prefixes.1 == "checkbox" %}
            {{ form_widget(form, {'attr': {'class': 'hidden'}, 'angularFormName': angularFormName}) }}
        {% else %}
            {{ form_widget(form, {'attr': {'class': 'form-control'}, 'angularFormName': angularFormName}) }}
        {% endif %}
    </td>
{% endspaceless %}{% endblock %}


{# add angulars ng-model or ng-init && name instead of full_name for NGs to directly get the field names #}
{% block widget_attributes %}{% spaceless %}
    {% if angularFormName is not defined %}
        {% set angularFormName = 'formData' %} {# TODO must not happen, should always be passed from form_row #}
    {% endif %}

    {{ parent() }}

    {# eg ng-model="formData['id']" #}
    {% if type is defined and type == 'hidden' %}
        ng-init="{{ angularFormName }}['{{ name }}'] = '{{value}}'"
    {% else %}
        ng-model="{{ angularFormName }}['{{ name }}']"
    {% endif %}
{% endspaceless %}{% endblock widget_attributes %}

{# button labels will NOT be displayed! just this bootstrap plus icon instead. labels are set though #}
{% block button_widget %}{% spaceless %}
    <td>
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <button type="{{ type|default('button') }}" {{ block('button_attributes') }}><i class="glyphicon glyphicon-plus"></i></button>
    </td>
{% endspaceless %}{% endblock %}