{# fieldType_part #}

{% block form_row %}
    {% spaceless %}
        <td>
            {{ form_label(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
        </td>
    {% endspaceless %}
{% endblock %}


{# button labels will NOT be displayed! just this bootstrap plus icon instead. labels are set though #}
{% block button_widget %}
    {% spaceless %}
        <td>
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            <button type="{{ type|default('button') }}" {{ block('button_attributes') }}><i class="glyphicon glyphicon-plus"></i></button>
        </td>
    {% endspaceless %}
{% endblock %}

