{% extends 'BarraFrontBundle::layout.html.twig' %}
{% trans_default_domain "messages" %}
{% block title %}{{ 'front.title.pageAboutMe'|trans() }}{% endblock %}

{% block section %}
    <section class="container">
        <h1>{{ 'front.title.myPerson'|trans() }}</h1>
            <p>
                Ich trage den Name Paul Kujawa und bin '91 geborener Webentwickler.<br>
                Noch studiere ich internationale Medieninformatik an der HTW Berlin.<br>
                Darüber hinaus bin ich offen für weitere Aufträge und unter Kontakt <strong>erreichbar</strong>.<br>
            </p>


        <h1>{{ 'front.title.mySkills'|trans() }}</h1>
        <ul>
            <li>Backend
                <ul>
                    <li>PHP Frameworks Symfony & Doctrine</li>
                    <li>DBMS MySQL, PostgreSQL & TransactSQL</li>
                </ul>
            </li>
            <li>Frontend
                <ul>
                    <li>Frameworks Bootstrap & UIKit</li>
                    <li>PHP Template engines Twig & Razor</li>
                </ul>
            </li>
            <li>JavaScript
                <ul>
                    <li>JS Framework ember.js</li>
                    <li>JS Bilbiothek jQuery & Dropzone</li>
                </ul>
            </li>
            <li>CMS
                <ul>
                    <li>Joomla, Wordpress & Pagekit</li>
                </ul>
            </li>
            <li>Ergänzend
                <ul>
                    <li>Guter Teamplayer</li>
                    <li>Zuverlässig & Selbstständig</li>
                    <li>Ehemaliger Java-Entwickler</li>
                </ul>
            </li>
        </ul>



        <h1>{{ 'front.title.myAccomplishments'|trans() }}</h1>
        <p>
            Für meinen Werdegang genügt ein Blick auf meinen Lebenslauf<br>
            und für meine Projekte auf <a href="{{ path('barra_front_references') }}">{{ 'front.title.references'|trans() }}</a>.
        </p>
    </section>
{% endblock %}