{% extends '::base.html.twig' %}
{% form_theme form 'BarraRecipeBundle:Form:tableRow.html.twig' %}
{% block title %}{{ 'recipe.title.products'|trans() }}{% endblock %}

{% block section %}
    <section class="container mobileTables" ng-controller="ProductCtrl">
        {{ include(':parts:form_validation.html.twig') }}

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <div class="list-group">
                    <div class="list-group-item" ng-repeat="product in products | orderBy:'name'">
                        [[product.name]]
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            {{ form_start(form) }}
                <div class="col-xs-8 col-sm-4 col-sm-offset-3">
                    {{ form_row(form.name) }}
                </div>
                <div class="col-xs-2 col-sm-1">
                    {{ form_row(form.vegan) }}
                </div>
                <div class="col-xs-2 col-sm-1">
                    {{ form_row(form.gr) }}
                </div>
                <div class="col-xs-12 col-sm-2 col-sm-offset-3">
                    {{ form_row(form.kcal) }}
                </div>
                <div class="col-xs-12 col-sm-2">
                    {{ form_row(form.protein) }}
                </div>
                <div class="col-xs-12 col-sm-2">
                    {{ form_row(form.carbs) }}
                </div>
                <div class="col-xs-12 col-sm-2 col-sm-offset-3">
                    {{ form_row(form.sugar) }}
                </div>
                <div class="col-xs-12 col-sm-2">
                    {{ form_row(form.fat) }}
                </div>
                <div class="col-xs-12 col-sm-2">
                    {{ form_row(form.gfat) }}
                </div>
                <div class="col-xs-12 col-sm-3 col-sm-offset-3">
                    {{ form_row(form.manufacturer) }}
                </div>
                <div class="col-xs-12 col-sm-3">
                    <div class="form-group">
                        {{ form_widget(form.submit, {'label': 'recipe.action.new', 'attr': {'class': 'btn btn-block'} }) }}
                    </div>
                </div>
            {{ form_end(form) }}
        </div>


        {{ include(':parts:pagination.html.twig', { 'route': 'barra_recipe_products'})}}
    </section>
{% endblock %}