{% extends '::base.html.twig' %}
{% form_theme form 'BarraRecipeBundle:Form:tableRow.html.twig' %}
{% block title %}{{ 'recipe.title.products'|trans() }}{% endblock %}

{% block section %}
    <section class="container mobileTables" ng-controller="ProductCtrl">
        {{ include(':parts:form_validation.html.twig') }}

        {{ form_start(form) }}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{{ 'recipe.product.name'|trans() }}</th>
                        <th>{{ 'recipe.product.vegan'|trans() }}</th>
                        <th>{{ 'recipe.product.gr'|trans() }}</th>
                        <th>{{ 'recipe.product.kcal'|trans() }}</th>
                        <th>{{ 'recipe.product.protein'|trans() }}</th>
                        <th>{{ 'recipe.product.carbs'|trans() }}</th>
                        <th>{{ 'recipe.product.sugar'|trans() }}</th>
                        <th>{{ 'recipe.product.fat'|trans() }}</th>
                        <th>{{ 'recipe.product.gfat'|trans() }}</th>
                        <th>{{ 'recipe.product.manufacturer'|trans() }}</th>
                        <th>{{ 'recipe.action.delete'|trans() }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in products | orderBy:'name'">
                        <td data-mobile-title={{ 'recipe.product.name'|trans() }}>[[product.name]]</td>
                        <td data-mobile-title={{ 'recipe.product.vegan'|trans() }}>
                            <span ng-if="product.vegan">✖</span>
                        </td>
                        <td data-mobile-title={{ 'recipe.product.gr'|trans() }}>[[product.gr]]</td>
                        <td data-mobile-title={{ 'recipe.product.kcal'|trans() }}>[[product.kcal]]</td>
                        <td data-mobile-title={{ 'recipe.product.protein'|trans() }}>[[product.protein]]</td>
                        <td data-mobile-title={{ 'recipe.product.carbs'|trans() }}>[[product.carbs]]</td>
                        <td data-mobile-title={{ 'recipe.product.sugar'|trans() }}>[[product.sugar]]</td>
                        <td data-mobile-title={{ 'recipe.product.fat'|trans() }}>[[product.fat]]</td>
                        <td data-mobile-title={{ 'recipe.product.gfat'|trans() }}>[[product.gfat]]</td>
                        <td data-mobile-title={{ 'recipe.product.manufacturer'|trans() }}>[[product.manufacturer.name]]</td>
                        <td data-mobile-title={{ 'recipe.action.delete'|trans() }}>
                            <span class="glyphicon glyphicon-trash" ng-click="deleteEntry(product)"></span>
                        </td>
                    </tr>
                    <tr class="formInRow">
                        {{ form_row(form.name) }}
                        {{ form_row(form.vegan) }}
                        {{ form_row(form.gr) }}
                        {{ form_row(form.kcal) }}
                        {{ form_row(form.protein) }}
                        {{ form_row(form.carbs) }}
                        {{ form_row(form.sugar) }}
                        {{ form_row(form.fat) }}
                        {{ form_row(form.gfat) }}
                        {{ form_row(form.manufacturer) }}
                        {{ form_widget(form.submit, {'label': 'recipe.action.new', 'attr': {'class': 'btn'} }) }}
                    </tr>
                </tbody>
            </table>
        {{ form_end(form) }}

        {{ include(':parts:pagination.html.twig', { 'route': 'barra_recipe_products'})}}
    </section>
{% endblock %}