{% extends '::base.html.twig' %}
{% form_theme form 'BarraRecipeBundle:Form:tableRow.html.twig' %}
{% block title %}{{ 'recipe.title.recipes'|trans() }}{% endblock %}

{% block section %}
    <section class="container" ng-controller="RecipeCtrl">
        {{ include(':parts:form_validation.html.twig') }}

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <div class="list-group">
                    <a href="[[urlRecipe]]/[[recipe.name.replace(' ', '_')]]" class="list-group-item"
                       ng-repeat="recipe in recipes | orderBy:'name'">
                        [[recipe.name]]
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            {{ form_start(form) }}
                <div class="col-xs-12 col-sm-4 col-sm-offset-3">
                    {{ form_row(form.name) }}
                </div>
                <div class="col-xs-12 col-sm-2">
                    <div class="form-group">
                        {{ form_widget(form.submit, {'label': 'recipe.action.new', 'attr': {'class': 'btn btn-block'} }) }}
                    </div>
                </div>
            {{ form_end(form) }}
        </div>

        {{ include(':parts:pagination.html.twig', { 'route': 'barra_recipe_recipes_admin'}) }}
    </section>
{% endblock %}