{% extends '::base.html.twig' %}
{% block title %}{{ recipe.name }}{% endblock %}

{% block section %}
    <section class="container">
        {#<form name="formPicture" id="dropzoneId" class="dropzone" method="post"#}
              {#enctype="multipart/form-data" action="{{ path('barra_api_post_photo') }}"#}
        {#>#}
            {#<input type="hidden" name="formPhoto[recipe]" id="formPicture_recipe" value="{{ recipe.id }}">#}
            {#<div class="dz-default dz-message">#}
                {#<span class="glyphicon glyphicon-upload"></span>#}
            {#</div>#}
        {#</form>#}

        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="list-group">
                    <div class="list-group-item" {#ng-repeat="product in products | orderBy:'name'"#}>
                        {#[[product.name]]#}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            {{ form_start(formIngredient) }}
                <div class="col-xs-12 col-sm-2 col-sm-offset-2">
                    {{ form_row(formIngredient.amount) }}
                </div>
                <div class="col-xs-12 col-sm-2">
                    {{ form_row(formIngredient.measurement) }}
                </div>
                <div class="col-xs-12 col-sm-2">
                    {{ form_row(formIngredient.product) }}
                </div>
                <div class="col-xs-12 col-sm-2">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn-block'} }) }}
                </div>
            {{ form_end(formIngredient) }}
        </div>

        <div class="row">
            {{ form_start(formCooking) }}
                <div class="col-xs-12 col-sm-6 col-sm-offset-2">
                    {{ form_row(formCooking.description) }}
                </div>
                <div class="col-xs-12 col-sm-2">
                    {{ form_widget(formCooking.submit, {'attr': {'class': 'btn-block'} }) }}
                </div>
            {{ form_end(formCooking) }}
        </div>
    </section>
{% endblock %}
