{% extends 'BarraRecipeBundle::layout.html.twig' %}
{% form_theme form 'BarraRecipeBundle:Form:tableRow.html.twig' %}
{% block title %}{{ 'recipe.title.manufacturers'|trans() }}{% endblock %}

{% block section %}
    <section class="container mobileTables" ng-controller="ManufacturerCtrl">
        {{ include('BarraRecipeBundle:parts:formValidation.html.twig') }}

        {{ form_start(form) }}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{{ 'recipe.manufacturer.name'|trans() }}</th>
                        <th>{{ 'recipe.action.delete'|trans() }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="manufacturer in manufacturers | orderBy:'name'">
                        <td data-mobile-title={{ 'recipe.manufacturer.name'|trans() }}>[[manufacturer.name]]</td>
                        <td data-mobile-title={{ 'recipe.action.delete'|trans() }}>
                            <span class="glyphicon glyphicon-trash" ng-click="deleteEntry(manufacturer)"></span>
                        </td>
                    </tr>
                    <tr class="formInRow">
                        {{ form_row(form.name) }}
                        {{ form_widget(form.submit, {'label': 'recipe.action.new', 'attr': {'class': 'btn'} }) }}
                    </tr>
                </tbody>
            </table>
        {{ form_end(form) }}

        {{ include('BarraRecipeBundle:parts:pagination.html.twig', { 'route': 'barra_recipe_manufacturers'})}}
    </section>
{% endblock %}