{% extends '::base.html.twig' %}

{% block URLicon %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
{% endblock URLicon %}


{% block navLis %}
    <li><a href="{{ path('barra_back_admin') }}">Overview</a></li>
    <li><a href="{{ path('barra_back_references') }}">References</a></li>
    <li><a href="{{ path('barra_back_recipes') }}">Recipes</a></li>
    <li><a href="{{ path('barra_back_ingredients') }}">Ingredients</a></li>
    <li><a href="{{ path('barra_back_manufacturers') }}">Manufacturers</a></li>
    <li><a href="{{ path('barra_back_measurements') }}">Measurements</a></li>
{% endblock %}