{% trans_default_domain "messages" %}

{% block navList %}
    <li {% if app.request.attributes.get('_route') == 'barra_back_user' %}class="active"{% endif %}>
        <a href="{{ path('barra_back_user') }}">{{ ('back.title.user')|trans }}</a>
    </li>
    <li class="dropdown {% if app.request.attributes.get('_route') == 'barra_back_references' or
    app.request.attributes.get('_route') == 'barra_back_techniques' or
    app.request.attributes.get('_route') == 'barra_back_agencies' %}active{% endif %}">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            {{ ('back.title.references')|trans }} <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li {% if app.request.attributes.get('_route') == 'barra_back_references' %}class="active"{% endif %}>
                <a href="{{ path('barra_back_references') }}">{{ ('back.title.references')|trans }}</a>
            </li>
            <li {% if app.request.attributes.get('_route') == 'barra_back_techniques' %}class="active"{% endif %}>
                <a href="{{ path('barra_back_techniques') }}">{{ ('back.title.techniques')|trans }}</a>
            </li>
            <li {% if app.request.attributes.get('_route') == 'barra_back_agencies' %}class="active"{% endif %}>
                <a href="{{ path('barra_back_agencies') }}">{{ ('back.title.agencies')|trans }}</a>
            </li>
        </ul>
    </li>

    <li class="dropdown {% if app.request.attributes.get('_route') == 'barra_back_recipes' or
    app.request.attributes.get('_route') == 'barra_back_recipeDetail' or
    app.request.attributes.get('_route') == 'barra_back_measurements' %}active{% endif %}">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            {{ ('back.title.recipes')|trans }} <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li {% if app.request.attributes.get('_route') == 'barra_back_recipes' or
                app.request.attributes.get('_route') == 'barra_back_recipeDetail' %}class="active"{% endif %}>
                <a href="{{ path('barra_back_recipes') }}">{{ ('back.title.recipes')|trans }}</a>
            </li>
            <li {% if app.request.attributes.get('_route') == 'barra_back_measurements' %}class="active"{% endif %}>
                <a href="{{ path('barra_back_measurements') }}">{{ ('back.title.measurements')|trans }}</a>
            </li>
        </ul>
    </li>

    <li class="dropdown {% if app.request.attributes.get('_route') == 'barra_back_products' or
    app.request.attributes.get('_route') == 'barra_back_manufacturers' %}active{% endif %}">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            {{ ('back.title.products')|trans }} <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li {% if app.request.attributes.get('_route') == 'barra_back_products' %}class="active"{% endif %}>
                <a href="{{ path('barra_back_products') }}">{{ ('back.title.products')|trans }}</a>
            </li>
            <li {% if app.request.attributes.get('_route') == 'barra_back_manufacturers' %}class="active"{% endif %}>
                <a href="{{ path('barra_back_manufacturers') }}">{{ ('back.title.manufacturers')|trans }}</a>
            </li>
        </ul>
    </li>
{% endblock %}