{% extends 'BarraBackBundle::layout.html.twig' %}
{% form_theme form 'BarraBackBundle:Form:tableRow.html.twig' %}
{% trans_default_domain "messages" %}


{% form_theme formCookingStep 'BarraBackBundle:Form:recipeRow.html.twig' %}
{% form_theme formIngredient 'BarraBackBundle:Form:recipeRow.html.twig' %}

{% block title %} vPit {{ recipe.name }} {% endblock %}

{% block section %}
    <section id="no-more-tables" class="container">
        <h1>{{ recipe.name }}</h1>

        <h3>ingredients</h3>
        <ul>
        {% for recipeIngredient in recipeIngredients %}
            <li> {{ recipeIngredient.amount }} {{ recipeIngredient.measurement.type }} {{ recipeIngredient.ingredient.name }}</li>
        {% endfor %}
        </ul>

        <h4>new ingredient</h4>
        {{ form_start(formIngredient) }}
            {{ form_row(formIngredient.ingredient) }}
            {{ form_row(formIngredient.amount) }}
            {{ form_row(formIngredient.measurement) }}
        {{ form_end(formIngredient) }}


        <h3>cooking steps</h3>
        <ul>
        {% for cookingStep in cookingSteps %}
            <li> {{ cookingStep.description }}</li>
        {% endfor %}
        </ul>

        <h4>new ingredient</h4>
        {{ form_start(formCookingStep) }}
            {{ form_row(formCookingStep.step) }}
            {{ form_row(formCookingStep.description) }}
        {{ form_end(formCookingStep) }}
    </section>
{% endblock %}