{% extends 'BarraBackBundle::layout.html.twig' %}
{% form_theme form 'BarraBackBundle:Form:tableRow.html.twig' %}
{% block title %}{{ 'back.title.recipes'|trans() }}{% endblock %}

{% block section %}
    <section class="container mobileTables" ng-controller="RecipeCtrl">
        {{ include('BarraBackBundle::formValidation.html.twig') }}

        {{ form_start(form) }}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{{ 'back.recipe.name'|trans() }}</th>
                        <th>{{ 'back.action.manage'|trans() }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="recipe in recipes | orderBy:'name'">
                        <td data-mobile-title="{{'back.recipe.name'|trans()}}">[[recipe.name]]</td>
                        <td data-mobile-title="{{'back.action.manage'|trans()}}">
                            <a href="[[urlRecipeDetail]]/[[recipe.name.replace(' ', '_')]]">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                            <span class="glyphicon glyphicon-minus" ng-click="deleteEntry(recipe)"></span>
                        </td>
                    </tr>
                    <tr class="formInRow">
                        {{ form_row(form.name) }}
                        {{ form_widget(form.submit, {'label': 'back.action.new', 'attr': {'class': 'btn'} }) }}
                    </tr>
                </tbody>
            </table>
        {{ form_end(form) }}

        {{ include('BarraBackBundle::pagination.html.twig', { 'route': 'barra_back_recipes'}) }}
    </section>
{% endblock %}