{% extends 'BarraBackBundle::layout.html.twig' %}
{% form_theme formIngredientInsert 'BarraBackBundle:Form:tableRow.html.twig' %}
{% form_theme formIngredientUpdate 'BarraBackBundle:Form:tableRow.html.twig' %}
{% form_theme formCookingStepInsert 'BarraBackBundle:Form:tableRow.html.twig' %}
{% form_theme formCookingStepUpdate 'BarraBackBundle:Form:tableRow.html.twig' %}
{% trans_default_domain "messages" %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block section %}
    <section class="container mobileTables">
        <form name="formUploadedImage" id="dropzoneId" class="dropzone"
              action="{{ path('barra_back_recipeDetail_file_upload') }}" enctype="multipart/form-data" method="post"
                data-removeLink="{{ path('barra_back_recipeDetail_file_delete', {'recipeId': recipe.id, 'id': 0}) }}"
                data-getAllLink="{{ path('barra_back_recipeDetail_file_get', {'recipeId': recipe.id}) }}">
            <!--<input type="file"   name="formUploadedImage[file]" id="formUploadedImage_file" class="form-control" required="required">-->
            <input type="hidden" name="formUploadedImage[recipe]" id="formUploadedImage_recipe" value="{{ recipe.id }}">
            {{ form_widget(formUploadedImage._token) }}
            <div class="dz-default dz-message">
                <span class="glyphicon glyphicon-upload"></span>
            </div>
        </form>

        {{ form_start(formIngredientInsert) }}
            <table class="table table-striped" data-type="ingredient">
                <thead>
                    <tr>
                        <th>{{ 'back.recipeIngredient.amount'|trans() }}</th>
                        <th>{{ 'back.measurement.type'|trans() }}</th>
                        <th>{{ 'back.word.ingredient'|trans() }}</th>
                        <th>{{ 'back.action.delete'|trans() }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for recipeIngredient in recipeIngredients %}
                        <tr data-id={{ recipeIngredient.ingredient.id }}>
                            <td class="editableCell" data-mobile-title={{ 'back.recipeIngredient.amount'|trans() }}>{{ recipeIngredient.amount }}</td>
                            <td class="editableCell" data-mobile-title={{ 'back.measurement.type'|trans() }}>{{ recipeIngredient.measurement.type }}</td>
                            <td class="editableCell" data-mobile-title={{ 'back.ingredient.name'|trans() }}>{{ recipeIngredient.ingredient.name }}</td>
                            <td data-mobile-title={{ 'back.action.delete'|trans() }}>
                                <a href="{{ path('barra_back_recipeDetail_ingredient_delete', {'recipeId': recipe.id, 'ingredientId': recipeIngredient.ingredient.id}) }}">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr class="formInRow">
                        {{ form_row(formIngredientInsert.amount) }}
                        {{ form_row(formIngredientInsert.measurement) }}
                        {{ form_row(formIngredientInsert.ingredient) }}
                        {{ form_widget(formIngredientInsert.submit, {'label': 'back.action.new', 'attr': {'class': 'btn btn-default'} }) }}
                    </tr>
                    <tr class="formInRowError">
                        <td>
                            {{ form_errors(formIngredientInsert) }}
                        </td>
                    </tr>
                </tbody>
            </table>
        {{ form_end(formIngredientInsert) }}

        <table class="jsStorage" data-type="ingredient" style="visibility: hidden">
            <tbody>
                {{ form_start(formIngredientUpdate, {'action': path('barra_back_recipeDetail_ingredient_update')}) }}
                    <tr class="formInRow">
                        {{ form_row(formIngredientUpdate.amount) }}
                        {{ form_row(formIngredientUpdate.measurement) }}
                        {{ form_row(formIngredientUpdate.ingredient) }}
                        {{ form_widget(formIngredientUpdate.submit, {'label': 'back.action.update', 'attr': {'class': 'btn btn-default'} }) }}
                        {{ form_row(formIngredientUpdate.ingredientId, {'attr': {'class': 'formPk'} }) }}
                        {{ form_rest(formIngredientUpdate) }}
                    </tr>
                {{ form_end(formIngredientUpdate) }}
            </tbody>
        </table>



        <div style="margin-bottom: 100px"></div>



        {{ form_start(formCookingStepInsert) }}
            <table class="table table-striped" data-type="cookingStep" data-id={{ recipe.id }}>
                <thead>
                    <tr>
                        <th>{{ 'back.cookingStep.step'|trans() }}</th>
                        <th>{{ 'back.cookingStep.description'|trans() }}</th>
                        <th>{{ 'back.action.delete'|trans() }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cookingStep in cookingSteps %}
                        <tr data-id={{ cookingStep.step }}>
                            <td class="editableCell" data-mobile-title={{ 'back.cookingStep.step'|trans() }}>{{ cookingStep.step }}</td>
                            <td class="editableCell" data-mobile-title={{ 'back.cookingStep.description'|trans() }}>{{ cookingStep.description }}</td>
                            <td class="editableCell" data-mobile-title={{ 'back.action.delete'|trans() }}>
                                <a href="{{ path('barra_back_recipeDetail_cookingStep_delete', {'recipeId': recipe.id, 'step': cookingStep.step}) }}">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr class="formInRow">
                        {{ form_row(formCookingStepInsert.step) }}
                        {{ form_row(formCookingStepInsert.description) }}
                        {{ form_widget(formCookingStepInsert.submit, {'label': 'back.action.new', 'attr': {'class': 'btn'} }) }}
                    </tr>
                    <tr class="formInRowError">
                        <td>
                            {{ form_errors(formCookingStepInsert) }}
                        </td>
                    </tr>
                </tbody>
            </table>
        {{ form_end(formCookingStepInsert) }}

        <table class="jsStorage" data-type="cookingStep" style="visibility: hidden">
            <tbody>
            {{ form_start(formCookingStepUpdate, {'action': path('barra_back_recipeDetail_cookingStep_update')}) }}
            <tr class="formInRow">
                {{ form_row(formCookingStepUpdate.step) }}
                {{ form_row(formCookingStepUpdate.description) }}
                {{ form_widget(formCookingStepUpdate.submit, {'label': 'back.action.update', 'attr': {'class': 'btn'} }) }}
                {{ form_rest(formCookingStepUpdate) }}
            </tr>
            {{ form_end(formCookingStepUpdate) }}
            </tbody>
        </table>
    </section>
{% endblock %}