{% extends '::base.html.twig' %}
{% block title %}{{ 'recipe.title.measurements'|trans() }}{% endblock %}

{% block section %}
    <section class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <div class="list-group">
                    <div class="list-group-item" {#ng-repeat="measurement in measurements | orderBy:'name'"#}>
                        {#[[measurement.name]]#}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            {{ form_start(form) }}
                <div class="col-xs-12 col-sm-2 col-sm-offset-3">
                    {{ form_row(form.name) }}
                </div>
                <div class="col-xs-12 col-sm-2">
                    {{ form_row(form.gr) }}
                </div>
                <div class="col-xs-12 col-sm-2">
                    <div class="form-group">
                        {{ form_widget(form.submit, {'label': 'recipe.action.new', 'attr': {'class': 'btn btn-block'} }) }}
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
