{% extends 'BarraBackBundle::layout.html.twig' %}
{% form_theme form 'BarraBackBundle:Form:tableRow.html.twig' %}
{% trans_default_domain "messages" %}

{% block title %}{{ 'back.title.references'|trans() }}{% endblock %}

{% block section %}
    <section class="container mobileTables">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'back.reference.website'|trans() }}</th>
                <th>{{ 'back.reference.company'|trans() }}</th>
                <th>{{ 'back.reference.description'|trans() }}</th>
                <th>{{ 'back.reference.started'|trans() }}</th>
                <th>{{ 'back.reference.finished'|trans() }}</th>
                <th>{{ 'back.action.delete'|trans() }}</th>
            </tr>
            </thead>
            <tbody>
                {% for reference in references %}
                    <tr>
                        <td data-title={{ 'back.reference.website'|trans() }}>{{ reference.website }}</td>
                        <td data-title={{ 'back.reference.company'|trans() }}>{{ reference.company }}</td>
                        <td data-title={{ 'back.reference.description'|trans() }}>{{ reference.description }}</td>
                        <td data-title={{ 'back.reference.started'|trans() }}> {{ reference.started|date('d.m.Y') }}
                        <td data-title={{ 'back.reference.finished'|trans() }}> {{ reference.finished|date('d.m.Y') }}</td>
                        <td data-title={{ 'back.action.delete'|trans() }}>
                            <a href="{{ path('barra_back_reference_delete', {'website': reference.website}) }}">
                                <span class="glyphicon glyphicon-minus"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            <tr>
                {{ form_start(form) }}
                    {{ form_row(form.website) }}
                    {{ form_row(form.company) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.started) }}
                    {{ form_row(form.finished) }}
                    {{ form_widget(form.submit, {'label': 'back.action.new', 'attr': {'class': 'btn btn-default'} }) }}
                {{ form_end(form) }}
            </tr>
            </tbody>
        </table>
    </section>
{% endblock %}