{% extends 'BarraBackBundle::layout.html.twig' %}
{% block title %}{{ reference.url }}{% endblock %}

{% block section %}
    <section class="container">
        <form
            name="formReferenceLogo" id="dropzoneLogo" class="dropzone"
            action="{{ path('barra_back_reference_logo_update') }}" enctype="multipart/form-data" method="post"
            data-removeLink="{{ path('barra_back_reference_picture_delete', {'referenceId': reference.id, 'id': 0}) }}"
            data-getAllLink="{{ path('barra_back_reference_logo_get', {'referenceId': reference.id}) }}"
            data-picturesFolder="{{ asset('uploads/documents/') }}"
        >
            <input type="hidden" name="formReferenceLogo[reference]" id="formReferenceLogo_reference" value="{{ reference.id }}">
            {{ form_widget(formReferenceLogo._token) }}
            <div class="dz-default dz-message">
                <span class="glyphicon glyphicon-upload"></span>
            </div>
        </form>

        <form name="formScreenshot" id="dropzoneId" class="dropzone"
              action="{{ path('barra_back_reference_picture_upload') }}" enctype="multipart/form-data" method="post"
                data-removeLink="{{ path('barra_back_reference_picture_delete', {'referenceId': reference.id, 'id': 0}) }}"
                data-getAllLink="{{ path('barra_back_screenshot_get', {'referenceId': reference.id}) }}"
                data-picturesFolder="{{ asset('uploads/documents/') }}"
              >
            <input type="hidden" name="formScreenshot[reference]" id="formScreenshot_reference" value="{{ reference.id }}">
            {{ form_widget(formScreenshot._token) }}
            <div class="dz-default dz-message">
                <span class="glyphicon glyphicon-upload"></span>
            </div>
        </form>
    </section>
{% endblock %}