{% extends 'BarraBackBundle::layout.html.twig' %}
{% form_theme formInsert 'BarraBackBundle:Form:tableRow.html.twig' %}
{% form_theme formUpdate 'BarraBackBundle:Form:tableRow.html.twig' %}
{% trans_default_domain "messages" %}

{% block title %}{{ 'back.title.ingredients'|trans() }}{% endblock %}

{% block section %}
    <section class="container mobileTables">
        {{ form_start(formInsert) }}
            <table class="table table-striped" data-type="ingredient">
                <thead>
                    <tr>
                        <th>{{ 'back.ingredient.name'|trans() }}</th>
                        <th>{{ 'back.ingredient.vegan'|trans() }}</th>
                        <th>{{ 'back.ingredient.gr'|trans() }}</th>
                        <th>{{ 'back.ingredient.kcal'|trans() }}</th>
                        <th>{{ 'back.ingredient.protein'|trans() }}</th>
                        <th>{{ 'back.ingredient.carbs'|trans() }}</th>
                        <th>{{ 'back.ingredient.sugar'|trans() }}</th>
                        <th>{{ 'back.ingredient.fat'|trans() }}</th>
                        <th>{{ 'back.ingredient.gfat'|trans() }}</th>
                        <th>{{ 'back.ingredient.manufacturer'|trans() }}</th>
                        <th>{{ 'back.action.delete'|trans() }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ingredient in ingredients %}
                        <tr data-id={{ ingredient.id }}>
                            <td class="editableCell" data-mobile-title={{ 'back.ingredient.name'|trans() }}>{{ ingredient.name }}</td>
                            <td class="editableCell" data-mobile-title={{ 'back.ingredient.vegan'|trans() }}>{{ ingredient.vegan }}</td>
                            <td class="editableCell" data-mobile-title={{ 'back.ingredient.gr'|trans() }}>{{ ingredient.gr }}</td>
                            <td class="editableCell" data-mobile-title={{ 'back.ingredient.kcal'|trans() }}>{{ ingredient.kcal }}</td>
                            <td class="editableCell" data-mobile-title={{ 'back.ingredient.protein'|trans() }}>{{ ingredient.protein }}</td>
                            <td class="editableCell" data-mobile-title={{ 'back.ingredient.carbs'|trans() }}>{{ ingredient.carbs }}</td>
                            <td class="editableCell" data-mobile-title={{ 'back.ingredient.sugar'|trans() }}>{{ ingredient.sugar }}</td>
                            <td class="editableCell" data-mobile-title={{ 'back.ingredient.fat'|trans() }}>{{ ingredient.fat }}</td>
                            <td class="editableCell" data-mobile-title={{ 'back.ingredient.gfat'|trans() }}>{{ ingredient.gfat }}</td>
                            <td class="editableCell" data-mobile-title={{ 'back.ingredient.manufacturer'|trans() }}>{{ ingredient.manufacturer.name }}</td>

                            <td data-mobile-title={{ 'back.action.delete'|trans() }}>
                                <a {% if ingredient.getRecipeIngredients() is empty %} href="{{ path('barra_back_ingredient_delete', {'id': ingredient.id}) }}"
                                   {% else %}                                          class="inactiveLink" {% endif %} >
                                    <span class="glyphicon glyphicon-minus"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr class="formInRow">
                        {{ form_row(formInsert.name) }}
                        {{ form_row(formInsert.vegan) }}
                        {{ form_row(formInsert.gr) }}
                        {{ form_row(formInsert.kcal) }}
                        {{ form_row(formInsert.protein) }}
                        {{ form_row(formInsert.carbs) }}
                        {{ form_row(formInsert.sugar) }}
                        {{ form_row(formInsert.fat) }}
                        {{ form_row(formInsert.gfat) }}
                        {{ form_row(formInsert.manufacturer) }}
                        {{ form_widget(formInsert.submit, {'label': 'back.action.new', 'attr': {'class': 'btn'} }) }}
                    </tr>
                    <tr class="formInRowError" title="jey">
                        <td>
                            {{ form_errors(formInsert) }}
                        </td>
                    </tr>
                </tbody>
            </table>
        {{ form_end(formInsert) }}

        <table class="jsStorage" data-type="ingredient" style="visibility: hidden">
            <tbody>
                {{ form_start(formUpdate, {'action': path('barra_back_ingredient_update')}) }}
                    <tr class="formInRow">
                        {{ form_row(formUpdate.name) }}
                        {{ form_row(formUpdate.vegan) }}
                        {{ form_row(formUpdate.gr) }}
                        {{ form_row(formUpdate.kcal) }}
                        {{ form_row(formUpdate.protein) }}
                        {{ form_row(formUpdate.carbs) }}
                        {{ form_row(formUpdate.sugar) }}
                        {{ form_row(formUpdate.fat) }}
                        {{ form_row(formUpdate.gfat) }}
                        {{ form_row(formUpdate.manufacturer) }}
                        {{ form_widget(formUpdate.submit, {'label': 'back.action.update', 'attr': {'class': 'btn'} }) }}
                        {{ form_row(formUpdate.id, {'attr': {'class': 'formPk'} }) }}
                        {{ form_rest(formUpdate) }}
                    </tr>
                {{ form_end(formUpdate) }}
            </tbody>
        </table>
    </section>
{% endblock %}