{% extends 'BarraBackBundle::layout.html.twig' %}
{% form_theme formInsert 'BarraBackBundle:Form:tableRow.html.twig' %}
{% form_theme formUpdate 'BarraBackBundle:Form:tableRow.html.twig' %}
{% trans_default_domain "messages" %}

{% block title %}{{ 'back.title.products'|trans() }}{% endblock %}

{% block section %}
    <section class="container mobileTables">
        {{ form_start(formInsert) }}
            <table class="table table-striped" data-type="product">
                <thead>
                    <tr>
                        <th>{{ 'back.product.name'|trans() }}</th>
                        <th>{{ 'back.product.vegan'|trans() }}</th>
                        <th>{{ 'back.product.gr'|trans() }}</th>
                        <th>{{ 'back.product.kcal'|trans() }}</th>
                        <th>{{ 'back.product.protein'|trans() }}</th>
                        <th>{{ 'back.product.carbs'|trans() }}</th>
                        <th>{{ 'back.product.sugar'|trans() }}</th>
                        <th>{{ 'back.product.fat'|trans() }}</th>
                        <th>{{ 'back.product.gfat'|trans() }}</th>
                        <th>{{ 'back.product.manufacturer'|trans() }}</th>
                        <th>{{ 'back.action.delete'|trans() }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr data-id={{ product.id }}>
                            <td class="editableCell" data-mobile-title={{ 'back.product.name'|trans() }}>{{ product.name }}</td>
                            <td class="editableCell" data-mobile-title={{ 'back.product.vegan'|trans() }}>{% if product.vegan %}✖{% endif %}</td>

                            <td class="editableCell" data-mobile-title={{ 'back.product.gr'|trans() }}>{{ product.gr }}</td>
                            <td class="editableCell" data-mobile-title={{ 'back.product.kcal'|trans() }}>{{ product.kcal }}</td>
                            <td class="editableCell" data-mobile-title={{ 'back.product.protein'|trans() }}>{{ product.protein }}</td>
                            <td class="editableCell" data-mobile-title={{ 'back.product.carbs'|trans() }}>{{ product.carbs }}</td>
                            <td class="editableCell" data-mobile-title={{ 'back.product.sugar'|trans() }}>{{ product.sugar }}</td>
                            <td class="editableCell" data-mobile-title={{ 'back.product.fat'|trans() }}>{{ product.fat }}</td>
                            <td class="editableCell" data-mobile-title={{ 'back.product.gfat'|trans() }}>{{ product.gfat }}</td>
                            <td class="editableCell" data-mobile-title={{ 'back.product.manufacturer'|trans() }}>{{ product.manufacturer.name }}</td>

                            <td data-mobile-title={{ 'back.action.delete'|trans() }}>
                                <a {% if product.ingredients is empty %} href="{{ path('barra_back_product_delete', {'id': product.id}) }}"
                                   {% else %}                                     class="inactiveLink" {% endif %} >
                                    <span class="glyphicon glyphicon-minus"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr class="formInRow">
                        {{ form_row(formInsert.name) }}
                        {{ form_row(formInsert.vegan) }}
                        {{ form_row(formInsert.gr) }}
                        {{ form_row(formInsert.kcal) }}
                        {{ form_row(formInsert.protein) }}
                        {{ form_row(formInsert.carbs) }}
                        {{ form_row(formInsert.sugar) }}
                        {{ form_row(formInsert.fat) }}
                        {{ form_row(formInsert.gfat) }}
                        {{ form_row(formInsert.manufacturer) }}
                        {{ form_widget(formInsert.submit, {'label': 'back.action.new', 'attr': {'class': 'btn'} }) }}
                    </tr>
                    <tr class="formInRowError" title="jey">
                        <td>
                            {{ form_errors(formInsert) }}
                        </td>
                    </tr>
                </tbody>
            </table>
        {{ form_end(formInsert) }}

        <table class="jsStorage" data-type="product" style="visibility: hidden">
            <tbody>
                {{ form_start(formUpdate, {'action': path('barra_back_product_update')}) }}
                    <tr class="formInRow">
                        {{ form_row(formUpdate.name) }}
                        {{ form_row(formUpdate.vegan) }}
                        {{ form_row(formUpdate.gr) }}
                        {{ form_row(formUpdate.kcal) }}
                        {{ form_row(formUpdate.protein) }}
                        {{ form_row(formUpdate.carbs) }}
                        {{ form_row(formUpdate.sugar) }}
                        {{ form_row(formUpdate.fat) }}
                        {{ form_row(formUpdate.gfat) }}
                        {{ form_row(formUpdate.manufacturer) }}
                        {{ form_widget(formUpdate.submit, {'label': 'back.action.update', 'attr': {'class': 'btn'} }) }}
                        {{ form_row(formUpdate.id, {'attr': {'class': 'formPk'} }) }}
                        {{ form_rest(formUpdate) }}
                    </tr>
                {{ form_end(formUpdate) }}
            </tbody>
        </table>

        {{ include('BarraBackBundle::pagination.html.twig', { 'route': 'barra_back_products'})}}
    </section>
{% endblock %}