{% extends 'BarraAdminBundle::layout.html.twig' %}
{% form_theme form 'BarraAdminBundle:Form:tableRow.html.twig' %}
{% block title %}{{ 'back.title.references'|trans() }}{% endblock %}

{% block section %}
    <section class="container mobileTables" ng-controller="ReferenceCtrl">
        {{ include('BarraAdminBundle:parts:formValidation.html.twig') }}

        {{ form_start(form) }}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{{ 'back.reference.url'|trans() }}</th>
                        <th>{{ 'back.reference.description'|trans() }}</th>
                        <th>{{ 'back.reference.started'|trans() }}</th>
                        <th>{{ 'back.reference.finished'|trans() }}</th>
                        <th>{{ 'back.reference.techniques'|trans() }}</th>
                        <th>{{ 'back.reference.agency'|trans() }}</th>
                        <th>{{ 'back.action.delete'|trans() }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="reference in references | orderBy:'url'">
                        <td data-mobile-title={{ 'back.reference.url'|trans() }}>[[reference.url]]</td>
                        <td data-mobile-title={{ 'back.reference.description'|trans() }}>[[reference.description]]</td>
                        <td data-mobile-title={{ 'back.reference.started'|trans() }}>[[reference.started|date:'dd.MM.yyyy']]</td>
                        <td data-mobile-title={{ 'back.reference.finished'|trans() }}>[[reference.finished|date:'dd.MM.yyyy']]</td>
                        <td data-mobile-title={{ 'back.reference.techniques'|trans()}}>
                            <span ng-repeat="technique in reference.techniques | orderBy:'name'">[[technique.name]], </span>
                        </td>
                        <td data-mobile-title={{ 'back.reference.agency'|trans() }}>[[reference.agency.name]]</td>
                        <td data-mobile-title={{ 'back.action.manage'|trans() }}>
                            <a href="[[urlPictures]]/[[reference.id]]">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                            <span class="glyphicon glyphicon-trash" ng-click="deleteEntry(reference)"></span>
                        </td>
                    </tr>
                    <tr class="formInRow">
                        {{ form_row(form.url) }}
                        {{ form_row(form.description) }}
                        {{ form_row(form.started) }}
                        {{ form_row(form.finished) }}
                        {{ form_row(form.techniques) }}
                        {{ form_row(form.agency) }}
                        {{ form_widget(form.submit, {'label': 'back.action.new', 'attr': {'class': 'btn'} }) }}
                    </tr>
                </tbody>
            </table>
        {{ form_end(form) }}

        {{ include('BarraAdminBundle:parts:pagination.html.twig', { 'route': 'barra_back_recipes'}) }}
    </section>
{% endblock %}