{% extends 'BarraBackBundle::layout.html.twig' %}

{% block title %}{{ 'back.title.user'|trans() }}{% endblock %}

{% block section %}
    <section class="container">
        <a href="{{ path('barra_front_root') }}">
            <span class="glyphicon glyphicon-home"></span>
            {{ 'back.action.frontend'|trans() }}
        </a>

        <br>

        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        <a href="{{ path('fos_user_security_logout') }}">
            <span class="glyphicon glyphicon-log-out"></span>
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>



        {% verbatim %}
            <input type="text" ng-model="search">
            <p ng-show="search">results for: {{ search }}</p>

            <table ng-controller="RecipesCtrl" class="table">
                <tr ng-repeat="entry in recipes|filter:search">
                    <td>{{ entry.id }}</td>
                    <td>{{ entry.name }}</td>
                </tr>

                <tr>
                    <td>{{ recipe.id }}</td>
                    <td>{{ recipe.name }}</td>
                </tr>
            </table>
        {% endverbatim %}
    </section>
{% endblock %}